.form {
    position: relative
}

#logo {
    height:100%; 
    width:55%;
}

.form .fa-search {
    position: absolute;
    top: 10px;
    left: 13px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 4px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: none;
    border: none
}

.avatar {
    max-height: 100px;
    height: 100px;
}

.avatarProfile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: -80px;
    left: 50px;
    border: 3px solid white;
}

.imageChampion {
    filter: brightness(30%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.imageChampion:hover {
    filter: brightness(100%);
    -webkit-box-shadow: 0px 0px 5px 1px gold;
    box-shadow: 0px 0px 5px 1px gold;
}

#pdt-img
{
    max-width:100%;
    max-height:100%; 
    height: 10em;
    width: 11em;
    border-radius: 7%;

}

#card div
{
    transition: transform .5s ease;
}

#card:hover div
{
    transform: scale(1.2);   
}

#spellImage
{
    border-radius: 50%;
    object-fit: cover;
}

#spells 
{
    max-height: 100%;
    height: 100%;
    width: 40%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.spell-Type
{
    width: 20%;
    text-align: center;
}

.spell-Icon
{
    width: 20%;
    border-radius: 50%;
}

.spell-Text
{
    margin-left: 3%;
    margin-right: 2%;
    width: 65%;
}

.pagination > li > a
{
    color: #17090F;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
}

.pagination > .active > a
{
    color: black;
}

.page-link 
{
    font-size: 16px;
}

.active>.page-link
{
    color: black;
    background-color: #d9e2ef;
    border-color: black;
}

.splashImg
{
    width: 100%;
}

.page-link 
{
    font-size: 16px;
}

#CGU > div
{
    margin-bottom: 0px !important;
}

/* Mobile S */
@media screen and (max-width: 321px) 
{
    .page-link
    {
        font-size: 6.5px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 20px;
    }

    .championDetailsParagraph 
    {
        font-size: 17px;
    }

    .nav-link
    {
        font-size: small;
    }

    #logo {
        width: 120% !important;
    }
}

/* Mobile M */
@media screen and (min-width: 322px) and (max-width: 376px) 
{
    .page-link
    {
        font-size: 10px;
    }

    .nav-link
    {
        font-size: small;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 20px;
    }

    .championDetailsParagraph 
    {
        font-size: 17px;
    }

    #logo {
        width: 120% !important;
    }
}

/* Mobile L */
@media screen and (min-width: 377px) and (max-width: 469px) 
{
    .page-link
    {
        font-size: 12px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 20px;
    }

    .championDetailsParagraph 
    {
        font-size: 17px;
    }

    #splash
    {
        padding: 0;
        margin-top: 19px;
    }

    .splashImg
    {
        width: 100%;
    }

    #logo {
        width: 120% !important;
    }

    .navbar-toggler
    {
        width: 15%;
        height: 5%;
    }

    .navbar-brand
    {
        width: 22%;
    }

    .navbar-toggler-icon
    {
        width: 100%;
    }

    .nav-link
    {
        font-size: small;
    }
}

/* Tablette */
@media only screen and (min-width: 481px) and (max-width: 768px)
{
    .splashImg
    {
        width: 138%;
    }

    .navbar-brand
    {
        width: 15px;
    }

    .nav-link
    {
        font-size: smaller;
    }
    
    .spell-Icon
    {
        width: 10%;
        border-radius: 50%;
    }

    .spell-Icon
    {
        width: 20%;
        border-radius: 50%;
    }

    .imagechampionDetail
    {
        height: 425px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 20px;
    }

    .championDetailsParagraph 
    {
        font-size: 17px;
    }

    /* .spell-box
    {
        height: 90vh
    } */
}

/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px)
{  
    .navbar-toggler
    {
        display: none !important;
    }

    .navbar-toggler-icon
    {
        display: none !important;
    }
    
    .imagechampionDetail
    {
        height: 550px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 30px;
    }
    
    .championDetailsParagraph 
    {
        font-size: 25px;
    }

    /* .spell-box
    {
        width: 40vw;
        height: 100vh;
    } */

    .spell-box > p
    {
        padding-left: 21px;
        padding-right: 21px;
        font-size: larger;
    }

    .spell-box > h5
    {
        font-size: x-large;
        font-weight: bolder;
    }
}

/* Large Screen */
@media only screen and (min-width: 1025px) and (max-width: 1200px)
{
    /* .spell-box
    {
        height: 45vh;
        .spell-box > h5
        {
            font-size: 45px;
        }
        
        .spell-box > p 
        {
            font-size: x-large;
        }
    } */

    .spell-Icon
    {
        width: 4%;
    }
}

/* TV, xtra large screen */
@media only screen and (min-width: 1201px)  and (max-width: 1500px)
{
    .spell-box > h5
    {
        font-size: 25px;
    }
    
    .spell-box > p 
    {
        font-size: larger;
    }

    .spell-Icon
    {
        width: 6%;
    }
}

@media only screen and (min-width: 1501px)  and (max-width: 2900px)
{
    .spell-box
    {
        height: 80%;
    }
    
    .spell-box > h5
    {
        font-size: 45px;
    }
    
    .spell-box > p 
    {
        font-size: x-large;
    }

    .spell-Icon
    {
        width: 6%;
    }
}



