
.form {
    position: relative
}

#logo {
    height:100%; 
    width:55%;
}

.form .fa-search {
    position: absolute;
    top: 10px;
    left: 13px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 4px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: none;
    border: none
}

.avatar {
    max-height: 100px;
    height: 100px;
}

.avatarProfile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: -80px;
    left: 50px;
    border: 3px solid white;
}

.imageChampion {
    filter: brightness(30%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.imageChampion:hover {
    filter: brightness(100%);
    -webkit-box-shadow: 0px 0px 5px 1px gold;
    box-shadow: 0px 0px 5px 1px gold;
}

#pdt-img
{
    max-width:100%;
    max-height:100%; 
    height: 10em;
    width: 11em;
    border-radius: 7%;

}

#card div
{
    transition: transform .5s ease;
}

#card:hover div
{
    transform: scale(1.2);   
}

#spellImage
{
    border-radius: 50%;
    /* height: 4em;
    width: 4em; */
    object-fit: cover;
    /* margin-left: 1em; */
}

#spells 
{
    max-height: 100%;
    height: 100%;
    width: 40%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.spell-Type
{
    width: 20%;
    text-align: center;
}

.spell-Icon
{
    width: 10%;
}

.spell-Text
{
    margin-left: 3%;
    margin-right: 2%;
    width: 65%;
}

.pagination > li > a
{
    color: #17090F;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
}

.pagination > .active > a
{
    color: black;
}

.page-link 
{
    font-size: 16px;
}

.active>.page-link
{
    color: black;
    background-color: #d9e2ef;
    border-color: black;
}

.splashImg
{
    width: 100%;
}

@media screen and (min-width: 607px)
{
    #splash
    {
        width: 60%;
        height: 10%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

/* TV, xtra large screen */
@media only screen and (min-width: 1200px)
{

}

/* Large Screen */
@media only screen and (min-width: 1025px) and (max-width: 1200px)
{

}

/* laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px)
{

}


/* tablette */
@media only screen and (min-width: 481px) and (max-width: 768px)
{
    .splashImg
    {
        width: 138%;
    }

    #logo {
        height: 35%;
        width: 35%;
    }

}

@media screen and (max-width: 469px) 
{
    .page-link
    {
        font-size: 12px;
    }
}

/* mobile */
@media only screen and (min-width: 320px) and (max-width: 480px)
{
    #splash
    {
        padding: 0;
        /* margin-left: -128px; */
        margin-top: 19px;

    }

    .splashImg
    {
        width: 100%;
    }

    #logo {
        height: 100%;
        width: 190%;
    }

    .navbar-toggler
    {
        width: 15%;
        height: 5%;
    }

    .navbar-brand
    {
        width: 18%;
    }

    .navbar-toggler-icon
    {
        width: 100%;
    }
}