
.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 10px;
    left: 13px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 4px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: none;
    border: none
}

.avatar {
    max-height: 100px;
    height: 100px;
}

.avatarProfile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: -80px;
    left: 50px;
    border: 3px solid white;
}

.imageChampion {
    filter: brightness(30%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.imageChampion:hover {
    filter: brightness(100%);
    -webkit-box-shadow: 0px 0px 5px 1px gold;
    box-shadow: 0px 0px 5px 1px gold;
}