.form {
    position: relative
}

#logo {
    height:100%; 
    width:55%;
}

.form .fa-search {
    position: absolute;
    top: 10px;
    left: 13px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 4px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: none;
    border: none
}

.avatar {
    max-height: 100px;
    height: 100px;
}

.avatarProfile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: -80px;
    left: 50px;
    border: 3px solid white;
}

.imageChampion {
    filter: brightness(30%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.imageChampion:hover {
    filter: brightness(100%);
    -webkit-box-shadow: 0px 0px 5px 1px gold;
    box-shadow: 0px 0px 5px 1px gold;
}

#pdt-img
{
    max-width:100%;
    max-height:100%; 
    height: 10em;
    width: 11em;
    border-radius: 7%;

}

#card div
{
    transition: transform .5s ease;
}

#card:hover div
{
    transform: scale(1.2);   
}

#spellImage
{
    border-radius: 50%;
    /* height: 4em;
    width: 4em; */
    object-fit: cover;
    /* margin-left: 1em; */
}

#spells 
{
    max-height: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#spells > div > p
{
    margin-bottom: 0px;
}

.spell-Type
{
    text-align: center;
}

.spell-Icon
{
    border-radius: 50%;
}

.spell-Icon-Details
{
    border-radius: 50%;
}

.spell-Text
{
    margin-left: 3%;
    margin-right: 2%;
}

.spell-Text > p 
{
    margin-bottom: 0px;
}

.pagination > li > a
{
    color: #17090F;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
}

.pagination > .active > a
{
    color: black;
}

.page-link 
{
    font-size: 16px;
}

.active>.page-link
{
    color: black;
    background-color: #d9e2ef;
    border-color: black;
}

.splashImg
{
    width: 100%;
}

.page-link 
{
    font-size: 16px;
}


/* Mobile S */
@media screen and (max-width: 321px) 
{
    .page-link
    {
        font-size: 6.5px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 20px;
    }

    .championDetailsParagraph 
    {
        font-size: 17px;
    }

    .carousel-indicators
    {
        right: -60px;
        bottom: 420px;
        left: 130px;
    }

    .spell-Type
    {
        font-size: 9.5px;
        text-align: center;
    }

    .spell-Text > p 
    {
        margin-bottom: 0px;
        font-size: 9.5px;
    }

    .spell-Text > h6 
    {
        margin-bottom: 0px;
        font-size: 11.5px;
    }
}

/* Mobile M */
@media screen and (min-width: 322px) and (max-width: 376px) 
{
    .page-link
    {
        font-size: 10px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 20px;
    }

    .championDetailsParagraph 
    {
        font-size: 17px;
    }

    .carousel-indicators
    {
        right: -60px;
        bottom: 460px;
        left: 190px;
    }

    .spell-Type
    {
        font-size: 10px;
        text-align: center;
    }

    .spell-Text > p 
    {
        margin-bottom: 0px;
        font-size: 10px;
    }

    .spell-Text > h6 
    {
        margin-bottom: 0px;
        font-size: 12px;
    }
}

/* Mobile L */
@media screen and (min-width: 377px) and (max-width: 469px) 
{
    .page-link
    {
        font-size: 12px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 20px;
    }

    .championDetailsParagraph 
    {
        font-size: 17px;
    }

    #splash
    {
        padding: 0;
    }

    .splashImg
    {
        width: 100%;
    }

    #logo {
        width: 120% !important;
    }

    .navbar-toggler
    {
        width: 15%;
        height: 5%;
    }

    .navbar-brand
    {
        width: 22%;
    }

    .navbar-toggler-icon
    {
        width: 100%;
    }

    .nav-link
    {
        font-size: x-small;
    }

    .carousel-indicators
    {
        right: -80px;
        bottom: 510px;
        left: 185px;
    }

    .spell-Type
    {
        font-size: 12px;
        text-align: center;
    }

    .spell-Text > p 
    {
        margin-bottom: 0px;
        font-size: 12px;
    }

    .spell-Text > h6 
    {
        margin-bottom: 0px;
        font-size: 14px;
    }
}

/* Tablette */
@media only screen and (min-width: 481px) and (max-width: 768px)
{
    .splashImg
    {
        width: 138%;
    }

    .navbar-brand
    {
        width: 15px;
    }

    .nav-link
    {
        font-size: smaller;
    }
    
    .spell-Icon
    {
        width: 10%;
        border-radius: 50%;
    }

    .spell-Icon
    {
        width: 10%;
        border-radius: 50%;
    }

    .imagechampionDetail
    {
        height: 425px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 20px;
    }

    .championDetailsParagraph 
    {
        font-size: 17px;
    }

    .spell-box
    {
        height: 40vh
    }

    .carousel-caption
    {
        bottom: 34.25em;
    }

    .carousel-indicators
    {
        right: -60px;
        left: 490px;
        bottom: 550px;
    }

    .spell-Icon-Details
    {
        width: 10%;
        border-radius: 50%;
    }
}

/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px)
{  
    .navbar-toggler
    {
        display: none !important;
    }

    .navbar-toggler-icon
    {
        display: none !important;
    }
    
    .imagechampionDetail
    {
        height: 550px;
    }

    .championDetails 
    {
        font-weight: bold;
        font-size: 30px;
    }
    
    .championDetailsParagraph 
    {
        font-size: 25px;
    }

    .spell-box
    {
        width: 40vw;
        height: 45vh
    }

    .spell-box > p
    {
        padding-left: 21px;
        padding-right: 21px;
        font-size: larger;
    }

    .spell-box > h5
    {
        font-size: x-large;
        font-weight: bolder;
    }

    .carousel-caption
    {
        margin-right: 20em;
    }

    .img-fluid 
    {
        height: 30.2em;
    }
}

/* Large Screen */
@media only screen and (min-width: 1025px) and (max-width: 1200px)
{
    /* #logo
    {
        width: 60% !important;
    } */
    .spell-box
    {
        height: 45vh;
    }

    .carousel-caption
    {
        margin-right: 35em;
    }

    /* #champBox
    {
        align-items: center !important;
    } */
}

/* TV, xtra large screen */
@media only screen and (min-width: 1201px)  and (max-width: 2900px)
{
    /* #logo
    {
        width: 60% !important;
    } */
    .spell-box
    {
        height: 50vh
    }

    .carousel-caption
    {
        margin-right: 35em;
    }
}