{% extends 'customer/base.html.twig' %}

{% block title %}Wiki - Merci de votre achat !{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row col-12">
            <h1>Merci de votre achat</h1>
        </div>
    </div>
{%  endblock %}