{% extends 'customer/base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <div class="row col-12">
            <h1>Merci pour la tune!!</h1>
        </div>
    </div>
{%  endblock %}