<!DOCTYPE html>

<title>Edit Spell</title>

{% block body %}
    <h1>Edit Spell</h1>

    {{ include('spell/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spell_index') }}">back to list</a>

    {{ include('spell/_delete_form.html.twig') }}
{% endblock %}
