{% extends 'customer/base.html.twig' %}

{% block body %}
    <div class="container"><div class=" header">
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Center;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">CONDITIONS GÉNÉRALES</span><br><br>Les présentes conditions générales régissent l’utilisation de ce site <span style="font-style:italic;font-weight:normal;">https://wiki.com</span>.<br>Ce site appartient et est géré par Lionel De Sousa<br>En utilisant ce site, vous indiquez que vous avez lu et compris les conditions d’utilisation et que vous acceptez de les respecter en tout temps.<br><br>Type de site : e-commerce
        </p><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Propriété intellectuelle</span><br><br>Tout contenu publié et mis à disposition sur ce site est la propriété de Lionel De Sousa et de ses créateurs. Cela comprend, mais n’est pas limité aux images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Comptes</span><br><br>Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit :
        </p>
        <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
            <li style="margin-bottom:18.0pt;" value="1"><span>que vous êtes seul responsable de votre compte et de la sécurité et la confidentialité de votre compte, y compris les mots de passe ou les renseignements de nature délicate joints à ce compte, et</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:0.0pt;" value="2"><span>que tous les renseignements personnels que vous nous fournissez par l’entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez à jour vos renseignements personnels s’ils changent.</span><span style="color:#000000;"><br></span>
            </li>
        </ol>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Nous nous réservons le droit de suspendre ou de résilier votre compte si vous utilisez notre site illégalement ou si vous violez les conditions d’utilisation acceptable.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Ventes des biens et services</span><br>Ce document régit la vente des biens mis à disposition sur notre site.
        </p>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Les biens que nous offrons comprennent : 
        </p>
        <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:disc;">
            <li style="margin-bottom:18.0pt;" value="1"><span>Vetements</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:18.0pt;" value="2"><span>Goodies</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:0.0pt;" value="3"><span>Cartes Cadeaux</span><span style="color:#000000;"><br></span>
            </li>
        </ul>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Les biens liés à ce document sont les biens qui sont affichés sur notre site au moment où vous y accédez. Cela comprend tous les produits énumérés comme étant en rupture de stock. Toutes les informations, descriptions ou images que nous fournissons sur nos biens sont décrites et présentées avec la plus grande précision possible. Cependant, nous ne sommes pas légalement &nbsp;tenus par ces informations, descriptions ou images car nous ne pouvons pas garantir l’exactitude de chaque produit ou service que nous fournissons. Vous acceptez d’acheter ces biens à vos propres risques.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:italic;font-weight:normal;">Vendus par des tiers</span><br><br>Notre site peut offrir des biens de sociétés tierces. Nous ne pouvons pas garantir la qualité ou l’exactitude des biens mis à disposition par des tiers sur notre site.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Paiements</span><br><br>Nous acceptons les modes de paiement suivants sur ce site : 
        </p>
        <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:disc;">
            <li style="margin-bottom:18.0pt;" value="1"><span>Carte bancaire</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:18.0pt;" value="2"><span>PayPal</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:0.0pt;" value="3"><span>Prélèvement automatique</span><span style="color:#000000;"><br></span>
            </li>
        </ul>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Lorsque vous nous fournissez vos renseignements de paiement, vous nous confirmez que vous avez autorisé l’utilisation et l’accès à l’instrument de paiement que vous avez choisi d’utiliser. En nous fournissant vos détails de paiement, vous confirmez que vous nous autorisez à facturer le montant dû à cet instrument de paiement.<br><br>Si nous estimons que votre paiement a violé une loi ou l’une de nos conditions d’utilisation, nous nous réservons le droit d’annuler votre transaction.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Transport et livraison</span><br><br>Lorsque vous effectuez un achat sur notre site, vous acceptez et reconnaissez de fournir un email valide et une adresse d’expédition pour la commande. Nous nous réservons le droit de modifier, rejeter ou annuler votre commande chaque fois que cela devient nécessaire. Si nous annulons votre commande et avons déjà traité votre paiement, nous vous donnerons un remboursement équivalent au montant que vous avez payé. Vous convenez qu’il vous incombe de surveiller votre mode de paiement. Bien que nous visions à vous fournir une estimation précise des délais et des coûts d’expédition, ceux-ci peuvent varier en raison de circonstances imprévues.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Remboursement</span><br><br><span style="font-style:italic;font-weight:normal;">Remboursement des biens</span>
        </p><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Nous acceptons les demandes de remboursement sur notre site pour les produits qui répondent à l’une des exigences suivantes :
        </p>
        <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
            <li style="margin-bottom:18.0pt;" value="1"><span>le bien est cassé</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:18.0pt;" value="2"><span>le bien n’est pas tel que décrit</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:18.0pt;" value="3"><span>changement de mentalité</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:0.0pt;" value="4"><span>Le bien ne répond pas aux attentes de l’utilisateur</span><span style="color:#000000;"><br></span>
            </li>
        </ol>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Les demandes de remboursement peuvent être faites dans les délais de 30 jours après la réception de vos biens.
        </p><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Les remboursements ne s’appliquent pas aux produits/services suivants :
        </p>
        <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
            <li style="margin-bottom:0.0pt;" value="1"><span>Passé la date de remboursement</span><span style="color:#000000;"><br></span>
            </li>
        </ol></div></div></div><div>
        </div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Limitation de responsabilité</span><br><br>Lionel De Sousa ou l’un de ses employés sera tenu responsable de tout problème découlant de ce site. Néanmoins, Lionel De Sousa et ses employés ne seront pas tenus responsables de tout problème découlant de toute utilisation irrégulière de ce site.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Indemnité</span><br><br>En tant qu’utilisateur, vous indemnisez par les présentes Lionel De Sousa de toute responsabilité, de tout coût, de toute cause d’action, de tout dommage ou de toute dépense découlant de votre utilisation de ce site ou de votre violation de l’une des dispositions énoncées dans le présent document.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Lois applicables</span><br><br>Ce document est soumis aux lois applicables en France et vise à se conformer à ses règles et règlements nécessaires. Cela inclut la réglementation à l’échelle de l’UE énoncée dans le RGPD.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Divisibilité</span><br><br>Si, à tout moment, l’une des dispositions énoncées dans le présent document est jugée incompatible ou invalide en vertu des lois applicables, ces dispositions seront considérées comme nulles et seront retirées du présent document. Toutes les autres dispositions ne seront pas touchées par les lois et le reste du document sera toujours considéré comme valide.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Modifications</span><br><br>Ces conditions générales peuvent être modifiées de temps à autre afin de maintenir le respect de la loi et de refléter tout changement à la façon dont nous gérons notre site et la façon dont nous nous attendons à ce que les utilisateurs se comportent sur notre site. Nous recommandons à nos utilisateurs de vérifier ces conditions générales de temps à autre pour s’assurer qu’ils sont informés de toute mise à jour. Au besoin, nous informerons les utilisateurs par courriel des changements apportés à ces conditions ou nous afficherons un avis sur notre site.
        </p></div><div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Contact</span><br><br>Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. Nos coordonnées sont les suivantes :<br><br>06 81 79 05 79<br><br>lio.poleemploi@gmail.com<br><br>61 rue des moulins Savigny-Sur-Orge
        </p></div>
        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Right;"><span style="font-style:italic;font-weight:normal;">Date d'entrée en vigueur : </span>le 10 août 2022.
        </p></div>
    </div>
{% endblock %}