{% extends 'admin/base.html.twig' %}

{% block title %}Wiki - Modifier les produits{% endblock %}

{% block body %}
    {% include "/customer/shared/_messages_flash.html.twig" %}
    <div class="container py-5">
        <div class="row">
        
            {# <div class="col-12 mb-3">
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-secondary">Revenir</a>
            </div> #}
            
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Formulaire de modification des produits</h3>
                    </div>
                    <div class="card-body">
                        {{ include('admin/product/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3">
                {{ include('admin/product/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
