{% extends 'customer/base.html.twig' %}

{% block title %}Wiki - Status code{% endblock %}

{% block body %}
    <div>
        <p class="mb-5 text-center text-muted">
            {{ status_code }}
        </p>
        <p class="mb-5 text-center text-muted">
            {{ status_text }}
        </p>
        <p class="mb-5 text-center text-muted">
            {{ exception.message }}
        </p>
    </div>
{%  endblock %}